* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
body {
  position: relative;
  margin: 0;
  font-family: consolas;
  width: 700px;
  margin-inline: auto;
  overflow-y: scroll;
}

header {
  margin-block: 20px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.logo {
  width: 50px;
}
nav > ul {
  background-color: #111;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.nav-link {
  display: block;
  color: #fff;
  padding: 5px 10px;
  border: 2px solid #111;
  transition: all 0.5 linear;
}
.nav-link:hover {
  background-color: #fff;
  color: #111;
}

.modal {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: 999;
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
}

.modal-window {
  padding: 10px;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  border: 1px solid #111;
}

.modal-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.modal-text {
  margin-bottom: 10px;
  font-size: 12px;
  text-align: center;
}

.modal-close {
  padding: 2px 5px;
  width: 100px;
  margin: auto;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #fff;
  cursor: pointer;
}

.blog-open {
  cursor: pointer;
  border: 2px solid #111;
  padding: 5px 10px;
}

.blog {
  margin-block: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.post-data {
  margin-bottom: 5px;
  font-size: 12px;
  color: #333;
}

.post-image {
  background-color: dodgerblue;
  width: 200px;
  height: 100px;
}

.post-body {
  margin-bottom: 10px;
  font-size: 13px;
}

.post-link {
  background-color: #111;
  color: #fff;
  padding: 4px 8px;
  border: 1px solid #222;
  font-size: 12px;
}
